.input-control>label {
    width: 90px;
    float: left;
}

.input-control>span {
    width: calc(100% - 90px);
    float: left;
}

.main tfoot .pagingBar a {
    margin-right: 0px;
}

.main .pagination {
    margin  : 0;
    position: relative;
    top     : 3px;
}

ul.pagination {
    margin-bottom: 0px;
}

.pagingBar .total {
    position     : relative;
    top          : 8px;
    margin-bottom: 12px;
}

.nav.nav-tabs button i,
.modal-footer button i {
    margin-right: 4px;
}

.role-permission .checkbox {
    display: inline;
}

.role-permission .checkbox input[type="checkbox"] {
    position    : unset;
    margin-left : unset;
    margin-right: 4px;
}

.page-container {
    padding: 20px;
}

.page {
    overflow-x: hidden;
}

.distributor-item .well .main_camp_brand span label {
    display     : unset;
    margin-right: 10px;
}

.toolbar li {
    color      : white;
    padding-top: 4px;
}

td button {
    margin-right: 4px;
}

td button:last-child {
    margin-right: 0;
}

.radio-inline {
    margin-right: 10px;
}

.modal-body.well {
    background-color: white;
    border          : none;
    padding-top     : 20px;
    padding-left    : 30px;
    margin          : 0px;
}

.empty {
    padding-top   : 40px;
    padding-bottom: 40px;
    text-align    : center;
}

#simple-master {
    padding-top: 80px;
}