#applications-container.main-container-inner {
      padding: 20px;
} 
.home_applications 
    ul.apps {
        padding: 0px;
        margin:  0px;

        li {
            float: left;
            list-style-type: none;
            width: 200px;
            height: 200px;
            border: solid 1px;
            margin: 4px;
            padding: 4px;
            .pull-left {
                width: 60px;
                padding-left: 14px;
            }
            p {
                font-size:18px;
                padding:8px;
                text-align: center;
                &.header {
                    margin-top: 0px; 
                }
            }
        }
    }  

    


    
